<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
 "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
 
 <!-- Mapperとxmlのマッピング -->
 <mapper namespace="com.example.repository.UserMapper">
 
  <!-- ユーザーの総件数を取得するSQL -->
  	<!-- 戻り値をintで返す -->
  <select id="getUserCount" resultType="int">
  	SELECT COUNT(*) FROM T_SYAIN
  </select>
 
 <!-- ユーザー１件登録 -->
 <insert id="insertOne">
 
 </insert>